[Unit]
Description=Deep addon {{name}}

[Container]
Image={{image}}
ContainerName=deep-addon-{{name}}
Network={{network}}
{{env}}
{{volumes}}
{{ports}}
{{health}}

[Service]
Restart=always
RestartSec=2
StartLimitBurst=5
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target
